#{extends 'main.html' /}

#{list items:_station.latestReadings(), as:'latestReadings'}
<div class="column is-one-fifth">
    <div class="card has-background-dark">
        <div class="card-content has-text-white">
            <div class="title is-size-5 has-text-white">
                Weather
                <span class="icon is-pulled-right">
                      <i class="${latestReadings.weatherCodeToIcon()} fa-3x mr-5" style="color: #CD303F;"></i>
                    </span>
            </div>
            <br>
            ${latestReadings.weatherCodeToString()} <br> <br> <br>
        </div>
    </div>
</div>
<div class="column is-one-fifth">
    <div class="card has-background-dark">
        <div class="card-content has-text-white">
            <div class="title is-size-5 has-text-white">
                Temp
                <span class="icon is-pulled-right">
                      <i class="${latestReadings.temperatureToIcon()} fa-3x" style="color: #9DA811;"></i>
                    </span>
            </div>
            ${latestReadings.getTemperature()} C <br>
            <span class="icon is-pulled-right mr-3">
                    <i class="${_station.getTrends("temperature")} fa-2x" style="color: #2EF55B;"></i>
                </span>
            ${latestReadings.convertTemperatureCToF()} F <br>
            Max: ${_station.getMaxValue("temperature")} <br>
            Min: ${_station.getMinValue("temperature")} <br>
        </div>
    </div>
</div>
<div class="column is-one-fifth">
    <div class="card has-background-dark">
        <div class="card-content has-text-white">
            <div class="title is-size-5 has-text-white">
                Wind
                <span class="icon is-pulled-right">
                      <i class="fa-solid fa-wind fa-3x"></i>
                    </span>
            </div>
            ${latestReadings.convertWindSpeedKMToBeaufort()} bft <br>
            <span class="icon is-pulled-right">
                    <i class="${_station.getTrends("windSpeed")} fa-2x" style="color: #2EF55B;"></i>
                </span>
            ${latestReadings.getCompassDirection()} <br>
            Feels like<br>
            ${latestReadings.getWindChill()} <br>
            Max: ${_station.getMaxValue("windSpeed")} <br>
            Min: ${_station.getMinValue("windSpeed")} <br>
        </div>
    </div>
</div>
<div class="column is-one-fifth">
    <div class="card has-background-dark">
        <div class="card-content has-text-white">
            <div class="title is-size-5 has-text-white">
                Pressure
                <span class="icon is-pulled-right">
                    <i class="fa-brands fa-centos fa-3x" style="color: #ff8000;"></i>
                </span>
            </div>
            <br>
            <span class="icon is-pulled-right">
                    <i class="${_station.getTrends("pressure")} fa-2x" style="color: #2EF55B;"></i>
                </span>
            ${latestReadings.getPressure()} hpa <br>
            Max:<br>
            ${_station.getMaxValue("pressure")}
            <br>
            Min: <br>
            ${_station.getMinValue("pressure")}
        </div>
    </div>
</div>
#{/list}