#{extends 'main.html' /}
#{set title:'About' /}
#{set subtitle:'About our services' /}

#{menu id:"about"/}

<div class="content box is-grey-dark">
    <div class="columns is-vcentered">
        <div class="column has-text-centered">
            <p class="title">
                WeatherTop
            </p>
            <p>
                Monitor and add the latest weather station readings for your location.
            </p>
        </div>
        <div class="column">
            <img src="public/images/341.jpg" class="image is-fullwidth"
                 alt="Weather icons for all weather types">
        </div>
    </div>
</div>