#{extends 'main.html' /}
#{set title:'About' /}
#{set subtitle:'About our services' /}

#{menu id:"about"/}

<div class="content box is-grey-dark">
    <div class="columns is-vcentered">
        <div class="column has-text-centered">
            <p class="title">
                WeatherTop
            </p>
            <p>
                Monitor latest weather station readings
            </p>
        </div>
        <div class="column">
            <img src="public/images/about-weather-img.jpg" class = "image is-fullwidth" alt="Weather icons for all weather types">
        </div>
    </div>
</div>