#{extends 'main.html' /}
#{set title:'WeatherTop' /}
#{set subtitle:'WeatherTop Services Inc' /}

#{welcomemenu id:"start"/}

<div class="content box">
    <p class="title has-text-centered">
        Welcome to Weathertop
    </p>
    <p class="content has-text-centered">
        <a href="/signup"><strong>Sign up</strong></a> or <a href="/login"><strong>login</strong></a> to get started!
    </p>
    <figure class="image is-5by1">
        <img src="/public/images/start-meteorologist.jpg">
    </figure>
</div>
